*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 1px solid rgb(128, 124, 124);
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 80px 12px 50px;;
    user-select: none;
    cursor: pointer;
    white-space: pre-wrap;
    position: relative;
    overflow-wrap: break-word;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li .dl{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 30px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
}

ul li .up{
    position: absolute;
    right: 45px;
    top: 5px;
    width: 40px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    padding: 5px;
}

ul li img:hover{
    background: #edeef0;
}